In [40]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

%matplotlib inline

In [41]:
def get_data(days, tickers):
    df = pd.DataFrame()
    for company in tickers.keys():
    # company = 'facebook'
        tkr = yf.Ticker(tickers[company])
        hist = tkr.history(period=f'{days}d')
        hist.index = hist.index.strftime('%d %B %Y')
        hist = hist[['Close']]
        hist.columns = [company]
        hist = hist.T
        hist.index.name = 'Name'
        df = pd.concat([df, hist])
    return df

In [42]:
days = 20
tickers = {
    'apple': 'AAPL',
    'facebook': 'FB',
    'google': 'GOOGL',
    'microsoft': 'MSFT',
    'netflix': 'NFLX',
    'amazon': 'AMZN'
}

get_data(days, tickers)

,11 February 2022,14 February 2022,15 February 2022,16 February 2022,17 February 2022,18 February 2022,22 February 2022,23 February 2022,24 February 2022,25 February 2022,28 February 2022,01 March 2022,02 March 2022,03 March 2022,04 March 2022,07 March 2022,08 March 2022,09 March 2022,10 March 2022,11 March 2022
Name,,,,,,,,,,,,,,,,,,,,
apple,168.639999,168.880005,172.789993,172.550003,168.880005,167.300003,164.320007,160.070007,162.740005,164.850006,165.119995,163.199997,166.559998,166.229996,163.169998,159.300003,157.440002,162.949997,158.520004,154.729996
facebook,219.550003,217.699997,221.000000,216.539993,207.710007,206.160004,202.080002,198.449997,207.600006,210.479996,211.029999,203.490005,208.110001,202.970001,200.059998,187.470001,190.289993,198.500000,195.210007,187.610001
google,2685.649902,2710.520020,2732.169922,2754.760010,2650.780029,2608.060059,2596.270020,2551.760010,2653.820068,2689.189941,2701.139893,2681.229980,2691.429932,2677.989990,2638.129883,2527.570068,2542.090088,2668.399902,2648.590088,2597.409912
microsoft,294.431213,294.391296,299.850006,299.500000,290.730011,287.929993,287.720001,280.269989,294.589996,297.309998,298.790009,294.950012,300.190002,295.920013,289.859985,278.910004,275.850006,288.500000,285.589996,280.070007
netflix,391.309998,396.570007,407.459991,398.079987,386.670013,391.290009,377.380005,367.459991,390.029999,390.799988,394.519989,386.239990,380.029999,368.070007,361.730011,350.260010,341.760010,358.790009,356.769989,340.320007
amazon,3065.870117,3103.340088,3130.209961,3162.010010,3093.050049,3052.030029,3003.949951,2896.540039,3027.159912,3075.770020,3071.260010,3022.840088,3041.050049,2957.969971,2912.820068,2749.060059,2720.290039,2785.580078,2936.350098,2910.489990

In [43]:
aapl = yf.Ticker('AAPL')

In [44]:
aapl.info

KeyboardInterrupt:

In [ ]:
aapl.actions.head()

            Dividends  Stock Splits
Date
1987-05-11   0.000536           0.0
1987-06-16   0.000000           2.0
1987-08-10   0.000536           0.0
1987-11-17   0.000714           0.0
1988-02-12   0.000714           0.0

In [ ]:
!pip3 install altair

Requirement already satisfied: altair in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (4.2.0)
Requirement already satisfied: jsonschema>=3.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from altair) (3.2.0)
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from altair) (1.18.1)
Requirement already satisfied: jinja2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from altair) (2.10.3)
Requirement already satisfied: pandas>=0.18 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from altair) (0.25.3)
Requirement already satisfied: entrypoints in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from altair) (0.3)
Requirement already satisfied: toolz in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from altair) (0.11.2)
Requirement already satisfied: six>=1.11.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from jsonschema>=3.0->altair) (1.14.0)
Requirement already satisfied: setuptools in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from jsonschema>=3.0->altair) (41.2.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from jsonschema>=3.0->altair) (0.15.7)
Requirement already satisfied: attrs>=17.4.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from jsonschema>=3.0->altair) (19.3.0)
Requirement already satisfied: MarkupSafe>=0.23 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from jinja2->altair) (1.1.1)
Requirement already satisfied: pytz>=2017.2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas>=0.18->altair) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas>=0.18->altair) (2.8.1)
WARNING: You are using pip version 20.0.2; however, version 22.0.4 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.8/bin/python3.8 -m pip install --upgrade pip' command.

In [45]:
import altair as alt

In [46]:
days = 20
tickers = {
    'apple': 'AAPL',
    'facebook': 'FB',
    'google': 'GOOGL',
    'microsoft': 'MSFT',
    'netflix': 'NFLX',
    'amazon': 'AMZN'
}

df = pd.DataFrame()
for company in tickers.keys():
# company = 'facebook'
    tkr = yf.Ticker(tickers[company])
    hist = tkr.history(period=f'{days}d')
    hist.index = hist.index.strftime('%d %B %Y')
    hist = hist[['Close']]
    hist.columns = [company]
    hist = hist.T
    hist.index.name = 'Name'
    df = pd.concat([df, hist])

In [47]:
df

,11 February 2022,14 February 2022,15 February 2022,16 February 2022,17 February 2022,18 February 2022,22 February 2022,23 February 2022,24 February 2022,25 February 2022,28 February 2022,01 March 2022,02 March 2022,03 March 2022,04 March 2022,07 March 2022,08 March 2022,09 March 2022,10 March 2022,11 March 2022
Name,,,,,,,,,,,,,,,,,,,,
apple,168.639999,168.880005,172.789993,172.550003,168.880005,167.300003,164.320007,160.070007,162.740005,164.850006,165.119995,163.199997,166.559998,166.229996,163.169998,159.300003,157.440002,162.949997,158.520004,154.729996
facebook,219.550003,217.699997,221.000000,216.539993,207.710007,206.160004,202.080002,198.449997,207.600006,210.479996,211.029999,203.490005,208.110001,202.970001,200.059998,187.470001,190.289993,198.500000,195.210007,187.610001
google,2685.649902,2710.520020,2732.169922,2754.760010,2650.780029,2608.060059,2596.270020,2551.760010,2653.820068,2689.189941,2701.139893,2681.229980,2691.429932,2677.989990,2638.129883,2527.570068,2542.090088,2668.399902,2648.590088,2597.409912
microsoft,294.431213,294.391296,299.850006,299.500000,290.730011,287.929993,287.720001,280.269989,294.589996,297.309998,298.790009,294.950012,300.190002,295.920013,289.859985,278.910004,275.850006,288.500000,285.589996,280.070007
netflix,391.309998,396.570007,407.459991,398.079987,386.670013,391.290009,377.380005,367.459991,390.029999,390.799988,394.519989,386.239990,380.029999,368.070007,361.730011,350.260010,341.760010,358.790009,356.769989,340.320007
amazon,3065.870117,3103.340088,3130.209961,3162.010010,3093.050049,3052.030029,3003.949951,2896.540039,3027.159912,3075.770020,3071.260010,3022.840088,3041.050049,2957.969971,2912.820068,2749.060059,2720.290039,2785.580078,2936.350098,2910.489990

In [55]:
companies = ['apple', 'facebook']
data = df.loc[companies]
data

,11 February 2022,14 February 2022,15 February 2022,16 February 2022,17 February 2022,18 February 2022,22 February 2022,23 February 2022,24 February 2022,25 February 2022,28 February 2022,01 March 2022,02 March 2022,03 March 2022,04 March 2022,07 March 2022,08 March 2022,09 March 2022,10 March 2022,11 March 2022
Name,,,,,,,,,,,,,,,,,,,,
apple,168.639999,168.880005,172.789993,172.550003,168.880005,167.300003,164.320007,160.070007,162.740005,164.850006,165.119995,163.199997,166.559998,166.229996,163.169998,159.300003,157.440002,162.949997,158.520004,154.729996
facebook,219.550003,217.699997,221.000000,216.539993,207.710007,206.160004,202.080002,198.449997,207.600006,210.479996,211.029999,203.490005,208.110001,202.970001,200.059998,187.470001,190.289993,198.500000,195.210007,187.610001

In [56]:
data.sort_index()

,11 February 2022,14 February 2022,15 February 2022,16 February 2022,17 February 2022,18 February 2022,22 February 2022,23 February 2022,24 February 2022,25 February 2022,28 February 2022,01 March 2022,02 March 2022,03 March 2022,04 March 2022,07 March 2022,08 March 2022,09 March 2022,10 March 2022,11 March 2022
Name,,,,,,,,,,,,,,,,,,,,
apple,168.639999,168.880005,172.789993,172.550003,168.880005,167.300003,164.320007,160.070007,162.740005,164.850006,165.119995,163.199997,166.559998,166.229996,163.169998,159.300003,157.440002,162.949997,158.520004,154.729996
facebook,219.550003,217.699997,221.000000,216.539993,207.710007,206.160004,202.080002,198.449997,207.600006,210.479996,211.029999,203.490005,208.110001,202.970001,200.059998,187.470001,190.289993,198.500000,195.210007,187.610001

In [57]:
data = data.T.reset_index()
data.head()

Name             index       apple    facebook
0     11 February 2022  168.639999  219.550003
1     14 February 2022  168.880005  217.699997
2     15 February 2022  172.789993  221.000000
3     16 February 2022  172.550003  216.539993
4     17 February 2022  168.880005  207.710007

In [60]:
data = pd.melt(data, id_vars=['index']).rename(
    columns={'value': 'Stock Prices(USD)'}
)
data

               index      Name  Stock Prices(USD)
0   11 February 2022     apple         168.639999
1   14 February 2022     apple         168.880005
2   15 February 2022     apple         172.789993
3   16 February 2022     apple         172.550003
4   17 February 2022     apple         168.880005
5   18 February 2022     apple         167.300003
6   22 February 2022     apple         164.320007
7   23 February 2022     apple         160.070007
8   24 February 2022     apple         162.740005
9   25 February 2022     apple         164.850006
10  28 February 2022     apple         165.119995
11     01 March 2022     apple         163.199997
12     02 March 2022     apple         166.559998
13     03 March 2022     apple         166.229996
14     04 March 2022     apple         163.169998
15     07 March 2022     apple         159.300003
16     08 March 2022     apple         157.440002
17     09 March 2022     apple         162.949997
18     10 March 2022     apple         158.520004
19     11 March 2022     apple         154.729996
20  11 February 2022  facebook         219.550003
21  14 February 2022  facebook         217.699997
22  15 February 2022  facebook         221.000000
23  16 February 2022  facebook         216.539993
24  17 February 2022  facebook         207.710007
25  18 February 2022  facebook         206.160004
26  22 February 2022  facebook         202.080002
27  23 February 2022  facebook         198.449997
28  24 February 2022  facebook         207.600006
29  25 February 2022  facebook         210.479996
30  28 February 2022  facebook         211.029999
31     01 March 2022  facebook         203.490005
32     02 March 2022  facebook         208.110001
33     03 March 2022  facebook         202.970001
34     04 March 2022  facebook         200.059998
35     07 March 2022  facebook         187.470001
36     08 March 2022  facebook         190.289993
37     09 March 2022  facebook         198.500000
38     10 March 2022  facebook         195.210007
39     11 March 2022  facebook         187.610001

In [66]:
chart = (
    alt.Chart(data)
    .mark_line(opacity=0.8, clip=True)
    .encode(
        x="index:T",
        y=alt.Y("Stock Prices(USD):Q", stack=None, scale=alt.Scale(domain=[100, 300])),
        color='Name:N'
    )
)

In [67]:
chart

alt.Chart(...)