In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

%matplotlib inline

In [14]:
def get_data(days, tickers):
    df = pd.DataFrame()
    for company in tickers.keys():
    # company = 'facebook'
        tkr = yf.Ticker(tickers[company])
        hist = tkr.history(period=f'{days}d')
        hist.index = hist.index.strftime('%d %B %Y')
        hist = hist[['Close']]
        hist.columns = [company]
        hist = hist.T
        hist.index.name = 'Name'
        df = pd.concat([df, hist])
    return df

In [3]:
days = 20
tickers = {
    'apple': 'AAPL',
    'facebook': 'FB',
    'google': 'GOOGL',
    'microsoft': 'MSFT',
    'netflix': 'NFLX',
    'amazon': 'AMZN'
}

get_data(days, tickers)

,11 February 2022,14 February 2022,15 February 2022,16 February 2022,17 February 2022,18 February 2022,22 February 2022,23 February 2022,24 February 2022,25 February 2022,28 February 2022,01 March 2022,02 March 2022,03 March 2022,04 March 2022,07 March 2022,08 March 2022,09 March 2022,10 March 2022,11 March 2022
Name,,,,,,,,,,,,,,,,,,,,
apple,168.639999,168.880005,172.789993,172.550003,168.880005,167.300003,164.320007,160.070007,162.740005,164.850006,165.119995,163.199997,166.559998,166.229996,163.169998,159.300003,157.440002,162.949997,158.520004,154.729996
facebook,219.550003,217.699997,221.000000,216.539993,207.710007,206.160004,202.080002,198.449997,207.600006,210.479996,211.029999,203.490005,208.110001,202.970001,200.059998,187.470001,190.289993,198.500000,195.210007,187.610001
google,2685.649902,2710.520020,2732.169922,2754.760010,2650.780029,2608.060059,2596.270020,2551.760010,2653.820068,2689.189941,2701.139893,2681.229980,2691.429932,2677.989990,2638.129883,2527.570068,2542.090088,2668.399902,2648.590088,2597.409912
microsoft,294.431213,294.391296,299.850006,299.500000,290.730011,287.929993,287.720001,280.269989,294.589996,297.309998,298.790009,294.950012,300.190002,295.920013,289.859985,278.910004,275.850006,288.500000,285.589996,280.070007
netflix,391.309998,396.570007,407.459991,398.079987,386.670013,391.290009,377.380005,367.459991,390.029999,390.799988,394.519989,386.239990,380.029999,368.070007,361.730011,350.260010,341.760010,358.790009,356.769989,340.320007
amazon,3065.870117,3103.340088,3130.209961,3162.010010,3093.050049,3052.030029,3003.949951,2896.540039,3027.159912,3075.770020,3071.260010,3022.840088,3041.050049,2957.969971,2912.820068,2749.060059,2720.290039,2785.580078,2936.350098,2910.489990

In [7]:
aapl = yf.Ticker('AAPL')

In [8]:
aapl.info

{'zip': '95014',
 'sector': 'Technology',
 'fullTimeEmployees': 100000,
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.',
 'city': 'Cupertino',
 'phone': '408 996 1010',
 'state': 'CA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://www.apple.com',
 'maxAge': 1,
 'address1': 'One Apple Park Way',
 'industry': 'Consumer Electronics',
 'ebitdaMargins': 0.33890998,
 'profitMargins': 0.26579002,
 'grossMargins': 0.43019,
 'operatingCashflow': 112241000448,
 'revenueGrowth': 0.112,
 'operatingMargins': 0.309,
 'ebitda': 128217997312,
 'targetLowPrice': 160,
 'recommendationKey': 'buy',
 'grossProfits': 152836000000,
 'freeCashflow': 80153247744,
 'targetMedianPrice': 199.5,
 'currentPrice': 154.73,
 'earningsGrowth': 0.25,
 'currentRatio': 1.038,
 'returnOnAssets': 0.19875,
 'numberOfAnalystOpinions': 44,
 'targetMeanPrice': 193.53,
 'debtToEquity': 170.714,
 'returnOnEquity': 1.45567,
 'targetHighPrice': 215,
 'totalCash': 63913000960,
 'totalDebt': 122797998080,
 'totalRevenue': 378323009536,
 'totalCashPerShare': 3.916,
 'financialCurrency': 'USD',
 'revenuePerShare': 22.838,
 'quickRatio': 0.875,
 'recommendationMean': 1.8,
 'exchange': 'NMS',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-18000000',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'messageBoardId': 'finmb_24937',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 6.994,
 'beta3Year': None,
 'enterpriseToEbitda': 20.636,
 '52WeekChange': 0.24792325,
 'morningStarRiskRating': None,
 'forwardEps': 6.56,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 16319399936,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 4.402,
 'sharesShort': 110322490,
 'sharesPercentSharesOut': 0.0068,
 'fundFamily': None,
 'lastFiscalYearEnd': 1632528000,
 'heldPercentInstitutions': 0.59424996,
 'netIncomeToCommon': 100554997760,
 'trailingEps': 6.015,
 'lastDividendValue': 0.22,
 'SandP52WeekChange': 0.059303045,
 'priceToBook': 35.149933,
 'heldPercentInsiders': 0.0007,
 'nextFiscalYearEnd': 1695600000,
 'yield': None,
 'mostRecentQuarter': 1640390400,
 'shortRatio': 1.2,
 'sharesShortPreviousMonthDate': 1643587200,
 'floatShares': 16302795170,
 'beta': 1.185531,
 'enterpriseValue': 2645842722816,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1598832000,
 'lastSplitFactor': '4:1',
 'legalType': None,
 'lastDividendDate': 1643932800,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.204,
 'priceToSalesTrailing12Months': 6.674457,
 'dateShortInterest': 1646006400,
 'pegRatio': 1.73,
 'ytdReturn': None,
 'forwardPE': 23.58689,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0068,
 'sharesShortPriorMonth': 91388112,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 158.52,
 'regularMarketOpen': 158.93,
 'twoHundredDayAverage': 153.6086,
 'trailingAnnualDividendYield': 0.0054567247,
 'payoutRatio': 0.1434,
 'volume24Hr': None,
 'regularMarketDayHigh': 159.2799,
 'navPrice': None,
 'averageDailyVolume10Day': 93968420,
 'regularMarketPreviousClose': 158.52,
 'fiftyDayAverage': 168.6374,
 'trailingAnnualDividendRate': 0.865,
 'open': 158.93,
 'toCurrency': None,
 'averageVolume10days': 93968420,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 0.88,
 'exDividendDate': 1643932800,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 154.5,
 'currency': 'USD',
 'trailingPE': 25.724024,
 'regularMarketVolume': 96970102,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 2525100769280,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 97563235,
 'dayLow': 154.5,
 'ask': 154.49,
 'askSize': 2900,
 'volume': 96970102,
 'fiftyTwoWeekHigh': 182.94,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.13,
 'fiftyTwoWeekLow': 118.86,
 'bid': 154.44,
 'tradeable': False,
 'dividendYield': 0.0056,
 'bidSize': 1000,
 'dayHigh': 159.2799,
 'regularMarketPrice': 154.73,
 'preMarketPrice': None,
 'logo_url': 'https://logo.clearbit.com/apple.com',
 'trailingPegRatio': 3.2017}

In [9]:
aapl.actions.head()

            Dividends  Stock Splits
Date
1987-05-11   0.000536           0.0
1987-06-16   0.000000           2.0
1987-08-10   0.000536           0.0
1987-11-17   0.000714           0.0
1988-02-12   0.000714           0.0

In [10]:
!pip3 install altair

Requirement already satisfied: altair in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (4.2.0)
Requirement already satisfied: jsonschema>=3.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from altair) (3.2.0)
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from altair) (1.18.1)
Requirement already satisfied: jinja2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from altair) (2.10.3)
Requirement already satisfied: pandas>=0.18 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from altair) (0.25.3)
Requirement already satisfied: entrypoints in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from altair) (0.3)
Requirement already satisfied: toolz in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from altair) (0.11.2)
Requirement already satisfied: six>=1.11.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from jsonschema>=3.0->altair) (1.14.0)
Requirement already satisfied: setuptools in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from jsonschema>=3.0->altair) (41.2.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from jsonschema>=3.0->altair) (0.15.7)
Requirement already satisfied: attrs>=17.4.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from jsonschema>=3.0->altair) (19.3.0)
Requirement already satisfied: MarkupSafe>=0.23 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from jinja2->altair) (1.1.1)
Requirement already satisfied: pytz>=2017.2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas>=0.18->altair) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas>=0.18->altair) (2.8.1)
WARNING: You are using pip version 20.0.2; however, version 22.0.4 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.8/bin/python3.8 -m pip install --upgrade pip' command.

In [11]:
import altair as alt

In [17]:
days = 20
tickers = {
    'apple': 'AAPL',
    'facebook': 'FB',
    'google': 'GOOGL',
    'microsoft': 'MSFT',
    'netflix': 'NFLX',
    'amazon': 'AMZN'
}

df = pd.DataFrame()
for company in tickers.keys():
# company = 'facebook'
    tkr = yf.Ticker(tickers[company])
    hist = tkr.history(period=f'{days}d')
    hist.index = hist.index.strftime('%d %B %Y')
    hist = hist[['Close']]
    hist.columns = [company]
    hist = hist.T
    hist.index.name = 'Name'
    df = pd.concat([df, hist])

In [18]:
df

,11 February 2022,14 February 2022,15 February 2022,16 February 2022,17 February 2022,18 February 2022,22 February 2022,23 February 2022,24 February 2022,25 February 2022,28 February 2022,01 March 2022,02 March 2022,03 March 2022,04 March 2022,07 March 2022,08 March 2022,09 March 2022,10 March 2022,11 March 2022
Name,,,,,,,,,,,,,,,,,,,,
apple,168.639999,168.880005,172.789993,172.550003,168.880005,167.300003,164.320007,160.070007,162.740005,164.850006,165.119995,163.199997,166.559998,166.229996,163.169998,159.300003,157.440002,162.949997,158.520004,154.729996
facebook,219.550003,217.699997,221.000000,216.539993,207.710007,206.160004,202.080002,198.449997,207.600006,210.479996,211.029999,203.490005,208.110001,202.970001,200.059998,187.470001,190.289993,198.500000,195.210007,187.610001
google,2685.649902,2710.520020,2732.169922,2754.760010,2650.780029,2608.060059,2596.270020,2551.760010,2653.820068,2689.189941,2701.139893,2681.229980,2691.429932,2677.989990,2638.129883,2527.570068,2542.090088,2668.399902,2648.590088,2597.409912
microsoft,294.431213,294.391296,299.850006,299.500000,290.730011,287.929993,287.720001,280.269989,294.589996,297.309998,298.790009,294.950012,300.190002,295.920013,289.859985,278.910004,275.850006,288.500000,285.589996,280.070007
netflix,391.309998,396.570007,407.459991,398.079987,386.670013,391.290009,377.380005,367.459991,390.029999,390.799988,394.519989,386.239990,380.029999,368.070007,361.730011,350.260010,341.760010,358.790009,356.769989,340.320007
amazon,3065.870117,3103.340088,3130.209961,3162.010010,3093.050049,3052.030029,3003.949951,2896.540039,3027.159912,3075.770020,3071.260010,3022.840088,3041.050049,2957.969971,2912.820068,2749.060059,2720.290039,2785.580078,2936.350098,2910.489990

In [20]:
companies = ['apple', 'facebook']
data = df.loc[companies]
data

,11 February 2022,14 February 2022,15 February 2022,16 February 2022,17 February 2022,18 February 2022,22 February 2022,23 February 2022,24 February 2022,25 February 2022,28 February 2022,01 March 2022,02 March 2022,03 March 2022,04 March 2022,07 March 2022,08 March 2022,09 March 2022,10 March 2022,11 March 2022
Name,,,,,,,,,,,,,,,,,,,,
apple,168.639999,168.880005,172.789993,172.550003,168.880005,167.300003,164.320007,160.070007,162.740005,164.850006,165.119995,163.199997,166.559998,166.229996,163.169998,159.300003,157.440002,162.949997,158.520004,154.729996
facebook,219.550003,217.699997,221.000000,216.539993,207.710007,206.160004,202.080002,198.449997,207.600006,210.479996,211.029999,203.490005,208.110001,202.970001,200.059998,187.470001,190.289993,198.500000,195.210007,187.610001

In [21]:
data.sort_index()

,11 February 2022,14 February 2022,15 February 2022,16 February 2022,17 February 2022,18 February 2022,22 February 2022,23 February 2022,24 February 2022,25 February 2022,28 February 2022,01 March 2022,02 March 2022,03 March 2022,04 March 2022,07 March 2022,08 March 2022,09 March 2022,10 March 2022,11 March 2022
Name,,,,,,,,,,,,,,,,,,,,
apple,168.639999,168.880005,172.789993,172.550003,168.880005,167.300003,164.320007,160.070007,162.740005,164.850006,165.119995,163.199997,166.559998,166.229996,163.169998,159.300003,157.440002,162.949997,158.520004,154.729996
facebook,219.550003,217.699997,221.000000,216.539993,207.710007,206.160004,202.080002,198.449997,207.600006,210.479996,211.029999,203.490005,208.110001,202.970001,200.059998,187.470001,190.289993,198.500000,195.210007,187.610001